# deps
node_modules/
.pnpm-store/

# next
.next/
out/
build/
next-env.d.ts

# env & secrets
.env
.env.local
.env.*.local

# supabase
supabase/.branches
supabase/.temp

# misc
.DS_Store
*.log
coverage/
